@model IEnumerable<DIRECTION_GESTOR.Models.Personascorreos>

@{
    ViewData["Title"] = "Index";
}
<br><br>
<h2>Correos de Personas</h2>
<br>
<p>
    <a asp-action="Create" class="btn btn-primary">Agregar Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Persona
            </th>
            <th>
                Correo
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPersonaFkNavigation.NombrePersonas) @Html.DisplayFor(modelItem => item.IdPersonaFkNavigation.ApellidoPersonas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCorreoFkNavigation.DescripcionCorreo)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPersonaCorreo"><i class="glyphicon glyphicon-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdPersonaCorreo"><i class="glyphicon glyphicon-book"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdPersonaCorreo"><i class="glyphicon glyphicon-remove"></i></a>

            </td>
        </tr>
}
    </tbody>
</table>
