@model IEnumerable<DIRECTION_GESTOR.Models.Saludobservaciones>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionSaludObservacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaSaludObservacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoFkNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInstitucionFkNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPersonaFkNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionSaludObservacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSaludObservacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoFkNavigation.DescripcionEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdInstitucionFkNavigation.DescripcionInstitucion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPersonaFkNavigation.ApellidoPersonas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSaludObservacion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdSaludObservacion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSaludObservacion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
