@model IEnumerable<DIRECTION_GESTOR.Models.Calificaciones>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Asignatura de Profesor
            </th>
            <th>
                Calificacion
            </th>
            <th>
                Fecha de Calificacion
            </th>

            <th>
                Estado
            </th>
            <th style="display:none">
                Institucion
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAsignaturaEmpleadoEstudianteFkNavigation.CodigoEstudianteFk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCalificacion)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoFkNavigation.DescripcionEstado)
            </td>
            <td style="display:none">
                @Html.DisplayFor(modelItem => item.IdInstitucionFkNavigation.DescripcionInstitucion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCalificacion"><i class="glyphicon glyphicon-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdCalificacion"><i class="glyphicon glyphicon-book"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdCalificacion"><i class="glyphicon glyphicon-remove"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
