@model DIRECTION_GESTOR.Models.Instituciones

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Instituciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreInstitucion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreInstitucion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescripcionInstitucion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescripcionInstitucion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdEstadoFkNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdEstadoFkNavigation.DescripcionEstado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdInstitucion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
