@model DIRECTION_GESTOR.Models.Estudiantesinstituciones

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Estudiantesinstituciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodigoEstudianteFkNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodigoEstudianteFkNavigation.CodigoEstudiante)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdInstitucionFkNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdInstitucionFkNavigation.DescripcionInstitucion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdEmpleadoInstitucion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
