@model IEnumerable<DIRECTION_GESTOR.Models.Estudiantesinstituciones>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoEstudianteFkNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInstitucionFkNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoEstudianteFkNavigation.CodigoEstudiante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdInstitucionFkNavigation.DescripcionInstitucion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEmpleadoInstitucion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdEmpleadoInstitucion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEmpleadoInstitucion">Delete</a>

                <a asp-action="Edit" asp-route-id="@item.IdEmpleadoInstitucion"><i class="glyphicon glyphicon-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdEmpleadoInstitucion"><i class="glyphicon glyphicon-book"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdEmpleadoInstitucion"><i class="glyphicon glyphicon-remove"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
