@model IEnumerable<DIRECTION_GESTOR.Models.Personastelefonos>

@{
    ViewData["Title"] = "Index";
}
<br><br>
<h2>Telefonos de Personas</h2>
<hr>
<p>
    <a asp-action="Create">Agregar Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Persona
            </th>
            <th>
                Telefono
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPersonaFkNavigation.NombrePersonas) @Html.DisplayFor(modelItem => item.IdPersonaFkNavigation.ApellidoPersonas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTelefonoFkNavigation.DescripcionTelefono)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPersonaTelefono"><i class="glyphicon glyphicon-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdPersonaTelefono"><i class="glyphicon glyphicon-book"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdPersonaTelefono"><i class="glyphicon glyphicon-remove"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
