@model IEnumerable<DIRECTION_GESTOR.Models.Paises>

@{
    ViewData["Title"] = "Index";
}
<br><br>
<h2>Paises</h2>
<br>
<p>
    <a asp-action="Create" class="btn btn-primary">Agregar Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Pais
            </th>
            <th>
                Nacionalidad o Gentilicio
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionPais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nacionalidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoFkNavigation.DescripcionEstado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPais"><i class="glyphicon glyphicon-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdPais"><i class="glyphicon glyphicon-book"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdPais"><i class="glyphicon glyphicon-remove"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
