@model DIRECTION_GESTOR.Models.Responsabilidadobservaciones

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Responsabilidadobservaciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescripcionResponsabilidadObservacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescripcionResponsabilidadObservacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaResponsabilidadObservacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaResponsabilidadObservacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdInstitucionFk)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdInstitucionFk)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdEstadoFkNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdEstadoFkNavigation.DescripcionEstado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdPersonaFkNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPersonaFkNavigation.ApellidoPersonas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdResponsabilidadObservacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
