@model DIRECTION_GESTOR.Models.Cursos

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Cursos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre del Curso
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescripcionCurso)
        </dd>
        <dt>
            Duracion
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TiempoCurso) Semnas
        </dd>
        <dt>
            Estado
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdEstadoFkNavigation.DescripcionEstado)
        </dd>
        <dt style="display:none">
            @Html.DisplayNameFor(model => model.IdInstitucionFkNavigation)
        </dt>
        <dd style="display:none">
            @Html.DisplayFor(model => model.IdInstitucionFkNavigation.DescripcionInstitucion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCurso" class="btn btn-primary">Modificar</a> |
    <a asp-action="Index">Volver Atras</a>
</div>
