@model IEnumerable<DIRECTION_GESTOR.Models.Actanacimiento>

@{
    ViewData["Title"] = "Index";
}
<br><br>
<h2>Actas de Nacimiento</h2>
<hr />
<p>
    <a asp-action="Create" class="btn btn-primary">Agregar Nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Folio
            </th>
            <th>
                Año
            </th>
            <th>
                Libro
            </th>
            <th>
                Numero
            </th>
            <th>
                Circunscripcion
            </th>
            <th>
                Persona
            </th>
            <th>
                Estado
            </th>
            <th style="display:none">
                Institucion
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FolioActaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnioActaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LibroActaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroActaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCircunscripcionFkNavigation.DescripcionCircunscripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPersonaFkNavigation.NombrePersonas) @Html.DisplayFor(modelItem => item.IdPersonaFkNavigation.ApellidoPersonas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoFkNavigation.DescripcionEstado)
            </td>
            <td style="display:none">
                @Html.DisplayFor(modelItem => item.IdInstitucionFkNavigation.NombreInstitucion)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.IdActaNacimiento"><i class="glyphicon glyphicon-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdActaNacimiento"><i class="glyphicon glyphicon-book"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdActaNacimiento"><i class="glyphicon glyphicon-remove"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>
