@model IEnumerable<DIRECTION_GESTOR.Models.Tareas>

@{
    ViewData["Title"] = "Index";
}

<h2>Tareas</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Agregar Nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Fecha
            </th>
            <th>
                Hora
            </th>
            <th>
                Estado
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.IdInstitucionFkNavigation)
            </th>
            <th>
                Prioridad
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TituloTarea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionTarea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaTarea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraTarea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoFkNavigation.DescripcionEstado)
            </td>
            <td style="display:none">
                @Html.DisplayFor(modelItem => item.IdInstitucionFkNavigation.DescripcionInstitucion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPrioridadFkNavigation.DescripcionPrioridad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTarea"><i class="glyphicon glyphicon-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdTarea"><i class="glyphicon glyphicon-book"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdTarea"><i class="glyphicon glyphicon-remove"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
