@model DIRECTION_GESTOR.Models.Documentos

@{
    ViewData["Title"] = "Delete";
}
<br><br>
<h2>Eliminar</h2>

<h3>Deseas eliminar esto?</h3>
<div>
    <h4>Documento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tipo de Documento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdTipoDocumentoFkNavigation.DescripcionTipoDocumento)
        <dt>
            Descripcion
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescripcionDocumento)
        </dd>
        <dt>
            Estado
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdEstadoFkNavigation.DescripcionEstado)
        </dd>
        <dt style="display:none">
            @Html.DisplayNameFor(model => model.IdInstitucionFkNavigation)
        </dt>
        <dd style="display:none">
            @Html.DisplayFor(model => model.IdInstitucionFkNavigation.DescripcionInstitucion)
        </dd>

        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdDocumento" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver Atras</a>
    </form>
</div>
