@model DIRECTION_GESTOR.Models.Cuentas

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Cuenta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Descripcion de Cuenta
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescripcionCuenta)
        </dd>
        <dt>
            Monto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MontoCuenta)
        </dd>
        <dt>
            Tipo de cuenta
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdTipoCuentaFkNavigation.DescripcionTipoCuenta)
        </dd>
        <dt>
            Fecha de Cuenta
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaCuenta)
        </dd>
        <dt>
            Estado
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdEstadoFkNavigation.DescripcionEstado)
        </dd>
        <dt style="display:none">
            @Html.DisplayNameFor(model => model.IdInstitucionFkNavigation)
        </dt>
        <dd style="display:none">
            @Html.DisplayFor(model => model.IdInstitucionFkNavigation.DescripcionInstitucion)
        </dd>
        <dt>
            Persona
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPersonaFkNavigation.NombrePersonas) @Html.DisplayFor(model => model.IdPersonaFkNavigation.ApellidoPersonas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCuenta" class="btn btn-primary">Modificar</a> |
    <a asp-action="Index">Volver Atras</a>
</div>
