@model IEnumerable<DIRECTION_GESTOR.Models.Empleados>

@{
    ViewData["Title"] = "Index";
}
<br><br>
<h2>Empleados</h2>
<br>
<p>
    <a asp-action="Create">Agregar Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Persona
            </th>
            <th>
                Puesto de Trabajo
            </th>
            <th>
                Sueldo
            </th>

            <th>
                Estado
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPersonaFkNavigation.NombrePersonas) @Html.DisplayFor(modelItem => item.IdPersonaFkNavigation.ApellidoPersonas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPuestoTrabajoFkNavigation.DescripcionPuestoTrabajo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SueldoEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoFkNavigation.DescripcionEstado)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoEmpleado"><i class="glyphicon glyphicon-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.CodigoEmpleado"><i class="glyphicon glyphicon-book"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoEmpleado"><i class="glyphicon glyphicon-remove"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
